@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/OpenSans/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("../fonts/OpenSans/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
:root {
  --OpenSans: "Open Sans", sans-serif;
  --dark: #000000;
  --black: #121212;
  --white: #ffffff;
  --orange: #fa8315;
  --orange2: #ff993a;
  --blue: #2052c9;
  --blue2: #5e8dff;
  --gray: #f5f5f5;
  --gray2: #dddddd;
  --gray3: #7e7e7e;
  --gray4: #898989;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-size: 18px;
  font-family: var(--OpenSans);
  position: relative;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}
@media (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
}

input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.button {
  text-decoration: none;
  padding: 23px 35px;
  cursor: pointer;
  position: relative;
  outline: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  border: none;
  font-style: normal;
  font-family: var(--OpenSans);
  line-height: initial;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 65px;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-color: var(--orange);
  z-index: 0;
  border-radius: 65px;
}
.button span {
  position: relative;
  z-index: 2;
}
.button svg {
  position: relative;
  z-index: 2;
}
.button--mod {
  color: var(--white);
}
.button--mod::before {
  background-color: var(--black);
}
.button--big {
  min-width: 365px;
}
.button--reset {
  color: var(--gray4);
  font-weight: 400;
}
.button--reset::before {
  background-color: transparent;
  opacity: 0.7;
}
.button:hover::before {
  left: -4px;
  top: -4px;
  bottom: -4px;
  right: -4px;
}
@media (max-width: 1199px) {
  .button--big {
    min-width: 400px;
  }
}
@media (max-width: 767px) {
  .button {
    padding: 20px 30px;
  }
  .button--big {
    min-width: initial;
  }
}
@media (max-width: 450px) {
  .button {
    max-width: 100%;
    width: 100%;
  }
}

.button-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--white);
  width: 52px;
  height: 52px;
  border: none;
  padding: 0;
  max-width: initial;
  max-height: initial;
  min-height: initial;
  border-radius: 50px;
  background-color: transparent;
  flex-shrink: 0;
}
.button-menu::before {
  background: var(--black);
  border-radius: 50px;
}
.button-menu span, .button-menu span::after, .button-menu span::before {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: var(--white);
}
.button-menu span::after, .button-menu span::before {
  content: "";
  display: block;
  transition: 0.3s;
}
.button-menu span::before {
  transform: translateY(-8px);
}
.button-menu span::after {
  transform: translateY(8px);
}
.button-menu.isActive span {
  height: 0;
}
.button-menu.isActive span:before {
  transform: rotate(-45deg);
}
.button-menu.isActive span:after {
  transform: rotate(45deg);
}
@media (max-width: 374px) {
  .button-menu {
    width: 45px;
    height: 45px;
  }
}

.wrapper {
  max-width: 1280px;
  padding-inline: 60px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .wrapper {
    max-width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

.title {
  display: block;
  margin-top: 0;
  margin-bottom: 42px;
  position: relative;
  text-align: center;
  color: var(--black);
  font-size: 34px;
  line-height: 1.3;
  font-weight: 300;
}
.title span {
  font-weight: 700;
  display: block;
}
@media (max-width: 1023px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 22px;
    margin-bottom: 24px;
  }
}

.text {
  text-align: center;
  margin: 0 auto;
  max-width: 910px;
  text-wrap: balance;
  font-size: 18px;
  line-height: 1.33;
}
.text + .text {
  margin-top: 27px;
}

.logotype {
  display: flex;
  align-items: center;
  max-width: 446px;
}
.logotype__image {
  display: block;
  max-width: 160px;
}
.logotype__text {
  margin: 0;
  margin-left: 38px;
  font-size: 0.8em;
}
@media (max-width: 1199px) {
  .logotype__text {
    margin-left: 20px;
  }
}

.phone {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}
.phone__icon {
  width: 15px;
  height: 15px;
  transition: all 0.3s;
  pointer-events: none;
}
.phone__text {
  margin-left: 7px;
}
.phone:hover .phone__icon {
  animation: shake 0.5s ease-in-out infinite;
}
@media (max-width: 1023px) {
  .phone {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background: var(--black);
    justify-content: center;
  }
  .phone__text {
    display: none;
  }
  .phone__icon {
    width: 20px;
    height: 20px;
  }
  .phone:hover .phone__icon {
    animation: none;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.header-group {
  transition: all 0.3s;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1023px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.brands-logo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.swiper {
  margin-bottom: 33px;
}
.swiper .swiper-pagination-bullet {
  background: var(--orange);
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 7.5px !important;
}
.swiper .swiper-pagination-bullet:hover {
  background: var(--orange2);
}
.swiper .swiper-pagination-bullet-active {
  background: var(--black) !important;
}
@media (max-width: 1023px) {
  .swiper {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .swiper {
    padding-bottom: 25px;
    padding-bottom: 30px;
  }
}

.prise-card {
  background-color: var(--white);
  color: var(--black);
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.prise-card__image {
  display: block;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.prise-card__title {
  margin: 0;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}
.prise-card__container {
  padding-top: 30px;
  padding-inline: 70px;
  padding-bottom: 50px;
}
.prise-card__table {
  color: var(--black);
  font-size: 14px;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}
.prise-card__table tr {
  border-bottom: 1px solid var(--gray2);
}
.prise-card__table td {
  padding: 11px 0 10px;
  width: 75%;
}
.prise-card__table td:last-of-type {
  color: var(--blue);
  font-weight: 700;
  padding-left: 3%;
  width: 25%;
}
@media (max-width: 1200px) {
  .prise-card__container {
    padding-top: 30px;
    padding-inline: 45px;
    padding-bottom: 83px;
  }
}
@media (max-width: 1023px) {
  .prise-card__container {
    padding-top: 25px;
    padding-inline: 20px;
    padding-bottom: 65px;
  }
}
@media (max-width: 767px) {
  .prise-card__container {
    padding-bottom: 30px;
  }
  .prise-card__table {
    font-size: 12px;
  }
}

.to-top {
  padding: 0 !important;
  width: 60px;
  height: 60px;
  max-width: initial;
  position: fixed;
  bottom: 64px;
  right: 64px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
}
.to-top img {
  display: block;
  flex-shrink: 0;
  position: relative;
  pointer-events: none;
  z-index: 2;
}
@media (max-width: 767px) {
  .to-top {
    width: 45px !important;
    height: 45px;
    bottom: 32px;
    right: 24px;
  }
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.social-list__item:not(:last-of-type) {
  margin-right: 10px;
}
.social-list__link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: var(--black);
  position: relative;
  border: 1px solid transparent;
  outline: none;
}
.social-list__link:focus.vkontakte, .social-list__link:hover.vkontakte {
  background-color: #127fff;
}
.social-list__link:focus.rutube, .social-list__link:hover.rutube {
  background-color: #1e3279;
}
.social-list__link:focus.instagram, .social-list__link:hover.instagram {
  background-color: #972399;
}
.social-list__link:focus.telegram, .social-list__link:hover.telegram {
  background-color: #3cb9ff;
}
.social-list__link:focus {
  border-color: var(--white);
}
.social-list img {
  display: block;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  pointer-events: none;
  width: 18px;
}

.custom-form__grid {
  display: grid;
  gap: 20px 30px;
  grid-template-columns: 3fr 4fr;
  align-items: center;
}
.custom-form__item {
  max-width: 100%;
  width: 100%;
  border-radius: 65px;
  border: 1px solid var(--white);
  color: var(--white);
  font-family: var(--OpenSans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 35px;
  background-color: transparent;
}
.custom-form__confirm {
  margin: 0;
  color: var(--gray3);
  font-size: 14px;
  font-weight: 400;
  order: 4;
}
.custom-form__confirm a {
  text-decoration: underline;
  font-weight: 600;
}
.custom-form__button {
  max-width: 100%;
}
.custom-form .title {
  color: inherit;
  text-align: initial;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 23px;
}
.custom-form .title span {
  display: initial;
}
.custom-form .text {
  text-align: initial;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 1199px) {
  .custom-form__confirm {
    grid-column: 1/3;
    order: initial;
  }
  .custom-form .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .custom-form .text {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .custom-form__grid {
    gap: 23px;
    grid-template-columns: 1fr;
  }
  .custom-form__confirm {
    order: initial;
    grid-column: initial;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  color: var(--gray4);
  font-family: var(--OpenSans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 99;
}

.select-box {
  position: relative;
  cursor: pointer;
  text-align: left;
  border-radius: 40px;
  border: 1px solid var(--gray4);
  padding: 19px 24px;
  display: flex;
  align-items: center;
  color: var(--gray4);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.select-box::after {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.96218 10C8.78571 10 8.62815 9.9321 8.4895 9.7963L0.283615 1.83333C0.0945396 1.68518 -6.55671e-08 1.5 -5.58534e-08 1.27778C-4.82984e-08 1.10494 0.0693283 0.950617 0.207983 0.814814L0.907564 0.148147C1.0084 0.049382 1.12185 -7.37767e-07 1.2479 -7.32258e-07C1.41176 -7.25095e-07 1.60714 0.11111 1.83403 0.333333L8.94328 7.22222L16.0714 0.425926C16.2983 0.203704 16.4937 0.0925927 16.6576 0.0925927C16.7836 0.0925927 16.916 0.160494 17.0546 0.296296L17.8109 1.03704C17.937 1.16049 18 1.27778 18 1.38889C18 1.46296 17.9622 1.54321 17.8866 1.62963C17.8109 1.72839 17.7227 1.82716 17.6218 1.92593L9.56723 9.7037C9.36554 9.90123 9.16386 10 8.96218 10Z' fill='%233D3D3D'/%3e%3c/svg%3e ");
  width: 20px;
  height: 11px;
  background-size: 20px;
  transition: transform 0.3s ease;
  transform: var(--bs-accordion-btn-icon-transform);
  flex-shrink: 0;
  margin-left: auto;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid var(--gray4);
  overflow: hidden;
}

.options div {
  padding: 16px 24px;
  cursor: pointer;
}
.options div:not(:first-of-type) {
  border-top: 1px solid var(--gray4);
}

.selected-option {
  background-color: var(--gray2);
  color: var(--black);
}

.options div:hover,
.options div:focus {
  background-color: #eceae2;
}

.custom-select.active .select-box::after {
  transform: rotate(-180deg);
}

.custom-select.active .options {
  margin-top: 16px;
}

.header {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 0 12px;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__callback {
  padding: 16px 20px;
  font-size: 14px;
  margin-left: 40px;
  max-width: 265px;
  width: 100%;
}
.header .button-menu {
  display: none;
}
.header .logotype {
  max-width: 450px;
  width: 100%;
}
.header .phone {
  margin-left: auto;
  max-width: 175px;
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  .header__callback {
    max-width: 250px;
    margin-left: 17px;
  }
}
@media (max-width: 1023px) {
  .header__callback {
    display: none;
  }
  .header .button-menu {
    display: flex;
    margin-left: 20px;
  }
  .header .phone {
    max-width: initial;
  }
}
@media (max-width: 767px) {
  .header .logotype__text {
    display: none;
  }
  .header .button-menu {
    margin-left: 10px;
  }
}
@media (max-width: 374px) {
  .header .logotype__image {
    max-width: 145px;
  }
}

.main {
  margin-top: 70px;
}

.navigation {
  border-bottom: 1px solid var(--blue);
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.2392156863);
}
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__link {
  padding: 16px 0;
  text-align: center;
  display: flex;
  color: var(--blue);
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  justify-content: center;
}
.navigation__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  height: 5px;
  width: 0;
  transition: all 0.3s;
  background-color: var(--blue);
}
.navigation__link:hover, .navigation__link:hover, .navigation__link:hover {
  color: var(--blue2);
}
.navigation__link:hover::after, .navigation__link:hover::after, .navigation__link:hover::after {
  width: 100%;
  background-color: var(--blue2);
}
.navigation__title {
  display: none;
}
@media (max-width: 1023px) {
  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0px 0px 0px 20px;
    background: var(--white);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    background-color: var(--white) !important;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .navigation__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation__title {
    display: block;
    color: var(--black);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 40px;
  }
  .navigation .wrapper {
    padding: 10px 30px 43px;
  }
}

.home-screen {
  background: url(../img/home-screen-bg.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  color: var(--white);
  padding-top: 120px;
  padding-bottom: 95px;
}
.home-screen__container {
  max-width: 820px;
}
.home-screen__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 17px 130px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 650px;
  width: 100%;
  margin-bottom: 27px;
}
.home-screen__item {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.5;
  text-wrap: balance;
}
.home-screen__item::before {
  margin-top: 6px;
  flex-shrink: 0;
  content: "";
  display: block;
  background-color: var(--blue);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 13px;
}
.home-screen .title {
  color: inherit;
  font-weight: 800;
  font-size: 40px;
  text-align: left;
  margin-bottom: 40px;
}
.home-screen .title span {
  display: initial;
  color: var(--blue);
  font-weight: inherit;
}
@media (max-width: 1399px) {
  .home-screen {
    background: url(../img/home-screen-bg-1199.jpg);
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
  .home-screen__container {
    max-width: 705px;
  }
  .home-screen__list {
    gap: 17px 30px;
    max-width: 525px;
  }
}
@media (max-width: 1023px) {
  .home-screen {
    background: url(../img/home-screen-bg-768.jpg);
    padding-bottom: 60px;
    padding-top: 55px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
  .home-screen__container {
    max-width: 590px;
  }
  .home-screen .title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .home-screen {
    padding-top: 45px;
    padding-bottom: 60px;
  }
  .home-screen__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .home-screen__item {
    font-size: 14px;
  }
  .home-screen .title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .home-screen .title br {
    display: none;
  }
}
@media (max-width: 500px) {
  .home-screen {
    background: url(../img/home-screen-bg-375.jpg);
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
  .home-screen__container {
    max-width: 265px;
  }
}

.services .button {
  margin: 0 auto;
}
.services__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 516px 1fr;
  margin-top: 60px;
  margin-bottom: 65px;
  align-items: center;
}
.services__center-photo {
  display: block;
  object-fit: cover;
}
.services__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.services__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 90px;
  gap: 27px;
}
.services__item:not(:last-of-type) {
  margin-bottom: 14px;
}
.services__text {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: right;
}
.services__text span {
  font-weight: 400;
  display: block;
  text-transform: initial;
  margin-top: 9px;
}
.services__image {
  width: 90px;
  height: 90px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}
.services__list--mod .services__item {
  grid-template-columns: 90px 1fr;
}
.services__list--mod .services__text {
  text-align: left;
  order: 2;
}
.services__list--mod .services__image {
  order: 1;
}
@media (max-width: 1199px) {
  .services__grid {
    grid-template-columns: 1fr 310px 1fr;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .services__grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .services__center-photo {
    display: none;
  }
}
@media (max-width: 600px) {
  .services {
    max-width: max-content;
  }
  .services__grid {
    display: block;
  }
  .services__list .services__item {
    grid-template-columns: 90px 1fr;
    gap: 24px;
  }
  .services__list .services__text {
    text-align: left;
    order: 2;
  }
  .services__list .services__image {
    order: 1;
  }
  .services__text {
    font-size: 14px;
  }
}

.prices {
  background-color: var(--gray);
  padding-bottom: 100px;
}
.prices__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}
@media (max-width: 767px) {
  .prices__list {
    grid-template-columns: repeat(1, 1fr);
    max-width: 565px;
    margin-inline: auto;
  }
}

.sale {
  background-color: var(--black);
  color: var(--white);
  padding-top: 85px;
  padding-bottom: 120px;
}
.sale__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 5fr 7fr;
}
.sale .title {
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
  font-weight: 300;
}
.sale .title span {
  display: initial;
}
.sale .text {
  color: #fff;
  text-align: left;
}
@media (max-width: 1199px) {
  .sale {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1023px) {
  .sale {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .sale__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .sale {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.advantages {
  background-color: var(--gray);
}
.advantages__main {
  margin-bottom: 60px;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 40px 30px;
  grid-template-columns: repeat(4, 1fr);
}
.advantages__icon {
  max-width: 70px;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.advantages__name {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  text-wrap: balance;
}
.advantages__text {
  margin: 0;
  text-wrap: balance;
  line-height: 1.5;
}
.advantages__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 34px 65px;
}
.advantages__title {
  font-size: 34px;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 1023px) {
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .advantages__icon {
    margin-bottom: 24px;
  }
  .advantages__title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding-bottom: 0;
  }
  .advantages__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .advantages__item {
    max-width: 300px;
    margin: 0 auto;
  }
  .advantages__footer {
    background-color: var(--black);
    color: var(--white);
    padding: 26px 0 40px;
  }
  .advantages__flex {
    background-color: transparent;
    border-radius: initial;
    box-shadow: none;
    padding: initial;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .advantages__title {
    margin-bottom: 15px;
    font-size: 22px;
  }
}

.contacts {
  padding-bottom: 50px;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
}
.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contacts__icon {
  display: block;
  max-width: 24px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.contacts__title {
  display: block;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 5px;
}
.contacts__text {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  text-wrap: balance;
}
.contacts__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: var(--blue);
}
@media (max-width: 1023px) {
  .contacts__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
  }
}
@media (max-width: 767px) {
  .contacts__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }
}

.map {
  height: 400px;
  position: relative;
}
.map img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
  position: absolute;
  z-index: 0;
}
.map__content {
  position: relative;
  z-index: 10;
  height: 400px;
  width: 100%;
}
.map [class*=copyrights-pane] {
  display: none !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, visibility 0.5s;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 9999;
}
.modal__body {
  border-radius: 20px;
  background: var(--white);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 55px 65px 80px;
  max-width: 790px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-height: 90vh;
  overflow: auto;
}
.modal .custom-form__grid {
  grid-template-columns: 1fr;
}
.modal .custom-form__item {
  color: var(--black);
}
.modal .custom-form__confirm {
  order: initial;
  grid-column: initial;
}
.modal .title {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: left;
}
.modal .text {
  font-size: 18px;
  text-align: left;
  margin-bottom: 24px;
}
.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.modal .custom-form__item {
  border-color: var(--gray4);
}
@media (max-width: 1200px) {
  .modal__body {
    padding: 55px 45px 70px;
  }
}
@media (max-width: 1023px) {
  .modal__body {
    display: block;
    padding: 40px 30px 50px;
  }
}
@media (max-width: 767px) {
  .modal__body {
    padding: 32px 40px 35px;
  }
}

.map {
  height: 400px;
  position: relative;
}
.map img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
  position: absolute;
  z-index: 0;
}
.map__content {
  position: relative;
  z-index: 10;
  height: 400px;
  width: 100%;
}
.map [class*=copyrights-pane] {
  display: none !important;
}

.footer {
  background-color: var(--dark);
  color: var(--white);
  padding-top: 50px;
  padding-bottom: 45px;
}
.footer__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.footer__item:last-of-type {
  grid-column: 1/4;
  margin-top: 60px;
}
.footer__copyright {
  margin: 0;
  color: var(--gray3);
  font-size: 12px;
}
.footer__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: var(--blue);
  font-size: 18px;
  font-weight: 700;
}
.footer__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  max-width: 315px;
  text-wrap: balance;
}
.footer__text + * {
  margin-top: 20px;
}
.footer .logotype {
  display: block;
  max-width: 270px;
}
.footer .logotype__image {
  margin-bottom: 30px;
}
.footer .logotype__text {
  color: var(--blue);
  margin: 0;
}
@media (max-width: 1200px) {
  .footer__grid {
    grid-template-columns: 7fr 5fr;
    gap: 35px 30px;
  }
  .footer__item:first-of-type {
    grid-column: 1/3;
  }
  .footer__item:last-of-type {
    grid-column: 1/3;
    margin-top: 30px;
  }
  .footer .logotype {
    display: grid;
    grid-template-columns: 7fr 5fr;
    max-width: initial;
    gap: 35px 30px;
    align-items: flex-start;
  }
  .footer .logotype__image {
    margin-bottom: 0;
  }
  .footer .logotype__text {
    max-width: 270px;
    text-wrap: balance;
  }
}
@media (max-width: 767px) {
  .footer__grid {
    grid-template-columns: 1fr;
    gap: 35px 30px;
  }
  .footer__item:first-of-type {
    grid-column: initial;
  }
  .footer__item:last-of-type {
    grid-column: initial;
    margin-top: 20px;
  }
  .footer .logotype {
    display: block;
    max-width: 270px;
  }
  .footer .logotype__image {
    margin-bottom: 20px;
  }
  .footer .logotype__text {
    color: var(--blue);
    margin: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, visibility 0.5s;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 9999;
}
.modal__body {
  border-radius: 20px;
  background: var(--white);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 55px 65px 80px;
  max-width: 790px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-height: 90vh;
  overflow: auto;
}
.modal .custom-form__grid {
  grid-template-columns: 1fr;
}
.modal .custom-form__item {
  color: var(--black);
}
.modal .custom-form__confirm {
  order: initial;
  grid-column: initial;
}
.modal .title {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: left;
}
.modal .text {
  font-size: 18px;
  text-align: left;
  margin-bottom: 24px;
}
.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.modal .custom-form__item {
  border-color: var(--gray4);
}
@media (max-width: 1200px) {
  .modal__body {
    padding: 55px 45px 70px;
  }
}
@media (max-width: 1023px) {
  .modal__body {
    display: block;
    padding: 40px 30px 50px;
  }
}
@media (max-width: 767px) {
  .modal__body {
    padding: 32px 40px 35px;
  }
}

.scroll .navigation {
  background-color: var(--black);
  border-bottom-color: var(--black);
}
.scroll .navigation__link {
  color: var(--blue2);
}
.scroll .navigation__link:hover,
.scroll .navigation__link:hover,
.scroll .navigation__link:hover {
  color: var(--white);
}
.scroll .navigation__link:hover::after,
.scroll .navigation__link:hover::after,
.scroll .navigation__link:hover::after {
  width: 100%;
  background-color: var(--white);
}
@media (max-width: 1023px) {
  .scroll .navigation__link:hover,
  .scroll .navigation__link:hover,
  .scroll .navigation__link:hover {
    color: var(--black);
  }
  .scroll .navigation__link:hover::after,
  .scroll .navigation__link:hover::after,
  .scroll .navigation__link:hover::after {
    width: 100%;
    background-color: var(--black);
  }
}

.menu-open .navigation {
  opacity: 1;
  visibility: initial;
}

.modal-call-back {
  overflow: hidden;
}
.modal-call-back #modal-call-back {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.modal-sign-for-diagnostics {
  overflow: hidden;
}
.modal-sign-for-diagnostics #modal-sign-for-diagnostics {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}