.modal-call-back {
  overflow: hidden;
  #modal-call-back {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

.modal-sign-for-diagnostics {
  #modal-sign-for-diagnostics {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}
