.scroll {
  .navigation {
    background-color: var(--black);
    border-bottom-color: var(--black);
  }
  @media (max-width: 1023px) {
    .navigation__link:hover,
    .navigation__link:hover,
    .navigation__link:hover {
      color: var(--black);
      &::after {
        width: 100%;
        background-color: var(--black);
      }
    }
  }
}
