.advantages {
  background-color: var(--gray);
  &__main {
    margin-bottom: 60px;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    gap: 40px 30px;
    grid-template-columns: repeat(4, 1fr);
  }
  &__icon {
    max-width: 70px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
  }
  &__name {
    margin: 0;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    text-wrap: balance;
  }
  &__text {
    margin: 0;
    text-wrap: balance;
    line-height: 1.5;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 34px 65px;
  }
  &__title {
    font-size: 34px;
    font-weight: 700;
    margin: 0;
  }
  @media (max-width: 1023px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
    &__icon {
      margin-bottom: 24px;
    }
    &__title {
      font-size: 28px;
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 0;
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      max-width: 300px;
      margin: 0 auto;
    }
    &__footer {
      background-color: var(--black);
      color: var(--white);
      padding: 26px 0 40px;
    }
    &__flex {
      background-color: transparent;
      border-radius: initial;
      box-shadow: none;
      padding: initial;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    &__title {
      margin-bottom: 15px;
      font-size: 22px;
    }
  }
}
