.contacts {
  padding-bottom: 50px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &__icon {
    display: block;
    max-width: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__title {
    display: block;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__text {
    display: block;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  &__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--blue);
  }

  @media (max-width: 1023px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 30px;
    }
  }
  @media (max-width: 767px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 35px;
    }
  }
}
