.home-screen {
  // background: url(../img/home-screen-bg.png), linear-gradient(77deg, #06090E 52.7%, #162836 72.15%, #2C3B44 83.31%);
  background: url(../img/home-screen-bg.jpg);
  background-repeat: no-repeat;
  background-position: right top -10px;
  background-size: cover;
  color: var(--white);
  padding-top: 190px;
  padding-bottom: 125px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 17px 37px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 755px;
    width: 100%;
    margin-bottom: 40px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    padding-right: 80px;
    &::before {
      margin-top: 6px;
      flex-shrink: 0;
      content: '';
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.49996 -0.000171C6.98528 -0.000171 9.00001 2.01467 9.00001 4.49993C9.00001 6.98519 6.98528 9.00004 4.49996 9.00004C2.01477 9.00004 2.7e-05 6.98519 2.7e-05 4.49993C2.7e-05 2.01467 2.01477 -0.000171 4.49996 -0.000171Z' fill='%232052C9'/%3e%3c/svg%3e ");
      width: 9px;
      height: 9px;
      margin-right: 13px;
    }
  }

  .title {
    color: inherit;
    font-weight: 800;
    font-size: 40px;
    text-align: left;
    span {
      display: initial;
      color: var(--blue);
      font-weight: inherit;
    }
  }
}
