.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.5s,
    visibility 0.5s;

  // pointer-events: initial;
  // visibility: visible;
  // opacity: 1;

  &__grid {
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 55px 45px 70px;
    max-width: 1160px;
    width: 100%;
    position: relative;

    display: grid;
    gap: 30px;
    grid-template-columns: 5fr 7fr;
  }
  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .title {
    font-weight: 700;
    text-align: left;
    font-size: 25px;
    margin-bottom: 15px;
    text-wrap: balance;

  }
  .text {
    text-align: left;
    font-size: 14px;
    text-wrap: balance;
  }
  .form__item {
    border: 1px solid var(--gray4);
  }
}
