.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.5s,
    visibility 0.5s;
  background-color: rgb(0 0 0 / 73%);
  z-index: 9999;

  &__flex {
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 55px 65px 80px;
    max-width: 1160px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
  }
  &__head {
    max-width: 320px;
    margin-right: 50px;
  }
  &__body {
    flex-grow: 2;
  }
  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  .title {
    font-weight: 700;
    text-align: left;
    font-size: 34px;
    margin-bottom: 15px;
    text-wrap: balance;
  }
  .text {
    text-align: left;
    font-size: 18px;
    text-wrap: balance;
    margin: 0;
  }
  .form__grid {
    grid-template-columns: 270px 1fr;
    gap: 20px;
  }
  .form__item {
    border: 1px solid var(--gray4);
    color: var(--dark);
  }
  .form__text {
    grid-column: initial !important;
    font-size: 12px !important;
    order: 4 !important;
  }

  @media (max-width: 1200px) {
    &__flex {
      padding: 55px 45px 70px;
    }

    &__head {
      max-width: 235px;
      margin-right: 30px;
    }
    .form__grid {
      grid-template-columns: 235px 1fr;
      gap: 20px 30px;
    }
    .title {
      font-size: 25px;
      margin-bottom: 15px;
    }
    .text {
      font-size: 14px;
    }

  }
  @media (max-width: 1023px) {

    &__flex {
      display: block;
      padding: 40px 30px 50px;
    }
    &__head {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    .form__grid {
      grid-template-columns: 245px 1fr;
      gap: 20px 32px;
    }
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      text-align: center;
    }
    .text {
      font-size: 16px;
      text-align: center;
    }
  }
  @media (max-width: 767px) {
    &__flex {
      padding: 32px 40px 35px;
    }
    .form__grid {
      grid-template-columns: 1fr;
      gap: 15px;
    }
    &__head {
      margin-bottom: 32px;
    }
    .title {
      font-size: 22px;
      margin-bottom: 20px;
    }
    .text {
      font-size: 14px;
    }
  }
}
