.prices {
  background-color: var(--gray);
  padding-bottom: 100px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }
  @media (max-width: 767px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      max-width: 565px;
      margin-inline: auto;
    }
  }
}
