:root {
  --OpenSans: "Open Sans", sans-serif;

  --dark: #000000;
  --black: #121212;
  --white: #ffffff;
  --orange: #fa8315;
  --orange2: #ff993a;
  --blue: #2052c9;
  --blue2: #5e8dff;
  --gray: #f5f5f5;
  --gray2: #dddddd;
  --gray3: #7e7e7e;
  --gray4: #898989;
  --Red: #eb5757;
}
