:root {
  --OpenSans: 'Open Sans', sans-serif;
  // --Pink: #CC006F;
  // --Dark: #121D36;
  --black: #121212;
  --white: #ffffff;
  --orange: #fa8315;
  --orange2: #ff993a;
  --blue: #2052C9;
  --blue2: #5e8dff;
  --gray: #f5f5f5;
  --gray2: #dddddd;
  --gray3: #7e7e7e;

  // --Blue: #008AD1;
  // --Yellow: #FFCB00;
  // --BG: #F4F7FC;
  // --Text: #5A6173;
  // --Green: #43AD45;
  // --Line: #dddfe6;
  // --Mod-1: rgba(18, 29, 54, 0.6);
  // --Mod-2: rgba(18, 29, 54, 0.15);
  // --Mod-3: rgba(18, 29, 54, 0.25);
  // --Mod-4: #DCDDE1;
  // --Mod-5: rgba(0, 0, 0, 0.15);
  // --Mod-6: #777e90;
  // --Mod-7: #F1FAFF;
  // --Mod-8: #6D7485;
}
