.logotype {
  display: flex;
  align-items: center;
  max-width: 446px;
  &__image {
    display: block;
    width: 100%;
    max-width: 160px;
  }
  &__text {
    margin: 0;
    margin-left: 38px;
    font-size: 0.8em;
  }
  @media (max-width: 1199px) {
    &__text {
      margin-left: 20px;
    }
  }
}
