.phone {
  display: flex;
  align-items: center;

  font-weight: 700;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='18' viewBox='0 0 9 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.6074 16.5068C1.59322 14.4874 0.46369 11.75 0.466521 8.89498C0.469353 6.03995 1.60431 3.30033 3.62251 1.27691C4.22637 0.673049 5.0449 0.333329 5.89804 0.332483C6.75117 0.331637 7.56903 0.669733 8.1717 1.2724C8.30029 1.39904 8.41609 1.53805 8.51742 1.68741C8.62063 1.82656 8.70992 1.97553 8.78399 2.13218C8.83661 2.24184 8.85966 2.36339 8.85086 2.48481C8.84207 2.60623 8.80174 2.72332 8.73386 2.82449L6.44082 6.47106C6.37845 6.56991 6.29234 6.65162 6.19037 6.70873C6.08839 6.76584 5.97378 6.79653 5.85701 6.79799C5.7235 6.80307 5.71361 6.80308 4.78922 6.51226C4.20624 8.06838 4.20104 9.78101 4.77455 11.3384C5.7094 11.0457 5.71929 11.0457 5.85279 11.0505C5.96956 11.0517 6.08411 11.0822 6.18597 11.1391C6.28784 11.196 6.37378 11.2775 6.43595 11.3763L8.72177 15.0183C8.78444 15.1189 8.82044 15.2339 8.82638 15.3524C8.83232 15.4709 8.808 15.5891 8.75571 15.6957C8.67992 15.8549 8.59042 16.0072 8.48824 16.1509C8.38372 16.2952 8.26784 16.4309 8.1417 16.5567C7.53132 17.1489 6.71193 17.476 5.86241 17.4666C5.01289 17.4573 4.20223 17.1122 3.6074 16.5068Z' fill='white'/%3e%3c/svg%3e ");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
  }
}
