.swiper {
  margin-bottom: 33px;

  .swiper-pagination-bullet {
    background: var(--orange);
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 0 7.5px !important;
    &:hover {
      background: var(--orange2);
    }
  }
  .swiper-pagination-bullet-active {
    background: var(--black) !important;
  }
  @media (max-width: 1023px) {
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    padding-bottom: 25px;
    padding-bottom: 30px;
  }

}
