.title {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  text-align: center;

  color: var(--black);
  font-size: 34px;
  font-weight: 300;
  span {
    font-weight: 700;
    display: block;
  }
}
